body{
	font-family:Arial, sans-serif;
	padding:0;
	margin:0;
	background: url(../img/picture2.jpg) no-repeat center top / cover;
	height:600px;
}

h1{
	color:white;
	font-size:50pt;
	opacity:0.9;
}

p{
	color:white;
	font-size:35pt;
	padding:0;
	margin:5px;
	opacity:0.9;
}
.header{
	padding:0;
	margin:0;
}

.but{
	border-radius:15px;
	width:100px; 
	height:75px;
	font-size:30px;
	background:black;
	opacity:0.8;
	color:white;
	
}

.form{
	border-radius:20px;
	text-align: center;
	background:black;
	opacity:0.6;
	color:white;
	width:400px;
	height:75px;
	font-size:30px;
}

